.preparation {
  background-color: var(--Rose50);
  padding: 1rem;
  border-radius: 16px;
  width: 90%;
  margin: 0 auto;
}

.preparation h2 {
  color: var(--ose800);
  font-family: var(--Outfit);
  font-weight: bold;
  font-size: 1.4rem;
}

@media screen and (min-width: 64rem) {
  .preparation {
    width: 100%;
  }
}
