footer {
  border-block-start: 1px solid var(--Stone150);
  padding-block-start: 1rem;
  line-height: 1.5;
  text-align: center;
  padding-block-end: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--rown800);
  font-weight: bold;
}

footer span {
  display: block;
}
